# For Postgres Image
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=todo_db

# For your app (example)
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=todo_db
DB_PORT=5432
DB_HOST=localhost
SERVER_PORT=8080
DB_SSLMODE=disable